<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 命名空间===放置的包一致 -->
<mapper namespace="cn.demo.mysql.mapper.MysqlMapper">
	<select id="getAll" resultType="MysqlBean">
		select id,username,password,uuid from mysql_test
	</select>

	<insert id="batchInsert">
		insert into mysql_test
		(
		username
		,password
		,uuid
		)
		values
		<foreach collection ="list" item="item" separator =",">
			(
			#{item.username},
			#{item.password},
			#{item.uuid}
			)
		</foreach>
	</insert>
</mapper>