<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			">
	<!-- jdbc.properties->dataSource->sqlSessionFactory->mapper(dao)->service->junit->controller -->

	<!-- 对那个父包和后代包进行扫描：解析注解 -->
	<!-- @Component非后面三层, @Repository持久层, @Service业务逻辑层, and @Controller控制器层 -->
	<context:component-scan base-package="cn.play" />

	<!-- 必须写classpath:跑web报错 -->
	<context:property-placeholder location = "classpath:jdbc.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
		  p:url="${jdbc.url}" p:username="${jdbc.username}" p:password="${jdbc.password}">
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="150" />
		<!--minIdle: 最小空闲连接 -->
		<property name="minIdle" value="5" />
		<!--maxIdle: 最大空闲连接 -->
		<property name="maxIdle" value="20" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="30" />
		<!-- 连接被泄露时是否打印 -->
		<property name="logAbandoned" value="true" />
		<!--removeAbandoned: 是否自动回收超时连接 -->
		<property name="removeAbandoned" value="true" />
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位) -->
		<property name="removeAbandonedTimeout" value="10" />
		<!--maxWait: 超时等待时间以毫秒为单位 1000等于60秒 -->
		<property name="maxWait" value="1000" />
		<!-- 在空闲连接回收器线程运行期间休眠的时间值,以毫秒为单位. -->
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		<!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
		<property name="numTestsPerEvictionRun" value="10" />
		<!-- 1000 * 60 * 30 连接在池中保持空闲而不被空闲连接回收器线程 -->
		<property name="minEvictableIdleTimeMillis" value="10000" />
		<property name="validationQuery" value="SELECT NOW() FROM DUAL" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 同ssh的配置：注入 dataSource -->
		<property name="dataSource" ref="dataSource" />
		<!-- 同ssh的配置：加载映射文件 -->
		<!-- 要求：1.必须使用前缀classpath*，2.必须使用通配符 -->
		<property name="mapperLocations"
				  value="classpath*:cn/play/sysuser/mapper/*Mapper.xml" />
		<!-- 同ssh的配置：加载mybatis其他配置信息 -->
		<!-- 配置别名：直接给一个包添加别名 -->
		<property name="typeAliasesPackage" value="cn.play.sysuser.domain" />
	</bean>

	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- transaction-manager="transactionManager"默认值 -->
	<tx:annotation-driven />

	<!-- 一劳永逸配置映射器接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.play.sysuser.mapper" />
	</bean>


	<import resource="classpath:applicationContext-mvc.xml" />
</beans>