<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 命名空间===放置的包一致 -->
<mapper namespace="cn.demo.sysuser.mapper.UserMapper">

	<select id="get" parameterType="long" resultType="User">
		select * from sys_user where id=#{id}
	</select>

	<delete id="del" parameterType="long">
		delete from sys_user where id = #{id}
	</delete>
	
	<select id="getAll" resultType="User">
		select id,username,password from sys_user
	</select>
	
	<update id="update" parameterType="User">
		update sys_user set 
		username = #{username},
		password = #{password} 
		where id = #{id}
	</update>
	
	<insert id="save" parameterType="User"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_user
		(username,password) values 
		(#{username},#{password})
	</insert>

</mapper>